<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section *ngIf="beforeLogin">
    <form #loginForm="ngForm">
    <ion-grid>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-item>
          <ion-input 
              placeholder="Enter your Mobile No." 
              name="mobileno"
              required minlength="10" maxlength="10" 
              [(ngModel)] ="mobileNo"
              #mobileno="ngModel"
              (keypress)="isNumeric()"
              > </ion-input>
        </ion-item>
        <div *ngIf="mobileno.invalid && (mobileno.dirty || mobileno.touched)">
          <div *ngIf="mobileno.errors.required">
            <ion-label color="danger">
              Please enter your mobile No.
            </ion-label>
          </div>
          <div *ngIf="mobileno.errors.minlength || mobileno.errors.maxlength">
            <ion-label color="danger">
              Mobile No. should be 10 digits
            </ion-label>
          </div>
        </div>
        <ion-item>
          <ion-input 
            type="password"
            placeholder="Enter 4 digit pin " 
            name="pin"
            [(ngModel)]="pinNo"
            #pin="ngModel"
            required minlength="4" maxlength="4" 
            (keypress)="isNumeric()"
            > </ion-input>
        </ion-item>
         <div *ngIf="pin.invalid && (pin.dirty || pin.touched)">
          <div *ngIf="pin.errors.required">
            <ion-label color="danger">
              Please enter your Pin.
            </ion-label>
          </div>
          <div *ngIf="pin.errors.minlength || pin.errors.maxlength">
            <ion-label color="danger">
              Pin should be 4 digits.
            </ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-grid>
    <br/>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!loginForm.form.valid" class="floatLeft" color="primary" (click)="login()"> Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button  class="floatRight" color="danger" (click)="loginForm.reset()">Cancel</ion-button>
        </ion-col>
      </ion-row>
      <ion-row></ion-row>
      <ion-row>
        <ion-col>
          <ion-label  class="anchor floatLeft" color="primary" (click)=" forgotPassword()">Forgot password</ion-label>
        </ion-col>
        <ion-col>
          <ion-label  class="anchor floatRight" color="primary" (click)="signUp()">Sign up</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </section>


</ion-content>