<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section *ngIf="!isValidOTP">
  <form #forgotpasswordForm="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col size="1"> </ion-col>
      <ion-col>
        <ion-item >
            <ion-input 
              type="password"
              placeholder="Enter 4 digit pin " 
              name="otp"
              [(ngModel)]="otpNo"
              #otp="ngModel"
              required minlength="4" maxlength="4" 
              (keypress)="isNumeric()"
            > </ion-input>
        </ion-item>
        <!--<ion-label   class="anchor floatLeft" color="primary" (click)="resendOTP()">Resend OTP</ion-label>-->
        <div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
            <ion-label *ngIf="otp.errors.required" color="danger">Please enter the OTP sent to your mobile</ion-label>
            <ion-label *ngIf="otp.errors.minlength || otp.errors.maxlength " color="danger">OTP should be 4 digits</ion-label>
        </div>
       
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
    <ion-row>
      <ion-col>
        <ion-button 
          [disabled]="!forgotpasswordForm.form.valid" 
          style="float: left" 
          color="primary" 
          style="width:100px"
          (click)="checkOTP()"
          >OK 
        </ion-button>
      </ion-col>
      <ion-col>
         <ion-button 
          style="float: right" 
          color="danger"
          (click)="cancelOTP()" 
          >cancel 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  </section>
    <section *ngIf="isValidOTP">
    <ion-item>
      <ion-input 
        type="password"
        name="pin" 
        [(ngModel)]="pinNo" 
        #pin="ngModel" 
        placeholder="Enter the PIN."
        required minlength="4" maxlength="4" 
        (keypress)="isNumeric()"
        > 
      </ion-input>
      <br>
    </ion-item>
    <ion-item>
      <ion-input 
        type="password"
        name="repin" 
        [(ngModel)]="repinNo" 
        #repin="ngModel"
        placeholder="Re-Enter the PIN."
        required minlength="4" maxlength="4" 
        (keypress)="isNumeric()"
        > 
      </ion-input>
      <br>
    </ion-item>
        <div *ngIf="!isPinValid">
          <ion-label  color="danger">Entered pin is not matching</ion-label>
        </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="floatLeft" color="primary" (click)="changePin()"> Change Pin</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="floatRight" color="danger" (click)="cancel()"> cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>